.proyek-list_table_mobile {
	display: none;
}

#mobile-inbox {
	display: none;
}

.bill-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.header {
		background: white !important;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.menu-show .header {
		z-index: 9999;
		box-shadow: unset;
		transition: all .5s ease-in-out;
	}

	.sidemenu {
		padding-top: 10vh !important;
	}

	.client-content {
		margin: 0px !important;
		padding-top: 20px !important;
		overflow: hidden !important;
	}

	.client-home .welcome-banner .img {
		width: 100% !important;
		bottom: 0 !important;
		right: 0px !important;
		left: 0px !important;
		margin: auto;
		top: unset !important;
		z-index: 9;
		margin-bottom: 20px;
	}

	.client-home .prjct-in-prgress #list_project {
		width: 100%;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		overflow-x: auto;
		padding-left: 32px;
		padding-right: 32px;
	}

	.client-home .prjct-in-prgress #list_project::-webkit-scrollbar {
		display: none;
	}

	.client-home .prjct-card {
		min-height: unset;
	}

	.client-home .prjct-in-prgress .col-md-6 {
		min-width: 100% !important;
		padding-right: 0 !important;

	}

	.client-home .prjct-in-prgress .prjct-card {
		padding: 16px;
	}

	.client-home .prjct-in-prgress .prjct-card_title .icon {
		width: 45px;
		height: 45px;
	}

	.client-home .prjct-in-prgress .prjct-card_title .text h4 {
		font-size: 16px;
		line-height: 1.5em;
	}

	.client-home .prjct-in-prgress .prjct-card_title .text span,
	.client-home .prjct-in-prgress .prjct-card_title .text b {
		display: block;
		font-size: 12px;
		line-height: 1.5em;
		margin-left: 0;
	}

	.client-home .prjct-in-prgress .prjct-card_title .text b {
		font-weight: 500;
	}

	.client-home .brief .row {
		width: 100%;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-left: 32px;
		padding-right: 32px;
	}

	.client-home .brief .col-md-3 {
		min-width: 50%;
		width: unset !important;
		padding-right: 0 !important;
	}

	.client-home .brief .card-white {
		min-width: 50% !important;
		width: 100%;
		padding: 24px 20px;
		/* padding-top: 28px; */
	}


	.client-home .works .row {
		width: 100%;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-left: 32px;
		padding-right: 32px;
	}

	.client-home .works .col-md-3 {
		min-width: 100%;
		width: unset !important;
		padding-right: 0 !important;
	}

	.client-home .works .card-white {
		min-width: 100% !important;
		width: 100%;
		padding: 24px 20px;
		/* padding-top: 28px; */
	}

	.client-brief .brief .row {
		padding-left: 32px;
		padding-right: 32px;
	}

	.brief .card-white .icon img {
		width: 90%;
		height: 90%;
	}

	.brief .card-white .text p {
		font-size: 10px;
		line-height: 16px;
	}

	.brief .card-white .top {
		margin-top: 0 !important;
	}

	.brief .card-white .tag {
		top: 15px;
		right: 8px;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.brief .card-white .text {
		margin-bottom: 30px;
	}

	.brief .card-white .text h4 {
		font-size: 15px;
		line-height: 1.3em;
		font-weight: 500;
	}


	.brief .card-white .btn-white {
		font-size: 10px;
		padding: 0 !important;
		border: none;
		text-align: left;
	}

	.card-white.yellow:hover .btn-white {
		background: transparent;
		color: #FFDF4C;
	}


	.card-white.red:hover .btn-white {
		background: transparent;
		color: #F73824;
	}


	.card-white.grey:hover .btn-white {
		background: transparent;
		color: #767676;
	}


	.card-white.green:hover .btn-white {
		background: transparent;
		color: #1cea6f;
	}

	.header .write-brief {
		right: 0px !important;
	}

	.header .write-brief .btn-brief {
		background: transparent;
	}

	.proyek-list_table_mobile {
		display: block;
	}

	.proyek__detail b {
		font-weight: 500 !important;
		font-size: 14px !important;
	}

	.inbox__wrapper {
		border: none !important;
		box-shadow: none !important;
		border-radius: 8px !important;
	}

	#mobile-inbox {
		/*display: block;*/
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		z-index: 200000000;
		bottom: 0px;
		padding-top: 0px;
	}

	#mobile-inbox main,
	#mobile-inbox .client-content {
		padding-top: 0px !important;
	}

	#mobile-inbox .client-content.inbox {
		margin-top: 0px !important;
	}

	.brief .card-white {
		min-height: unset !important;
	}

	.bill-mobile {
		display: block;
	}

	.select-custom,
	.select-custom * {
		font-size: 12px !important;
	}

	.user-account.dd-show .dropdown-menu.user-acnt_menu {
		left: 50px !important;
		bottom: 40px !important;
		top: unset !important;
	}

	.nav-tab__link.nav-link span * {
		display: block !important;
	}

	.modal-settings .modal-asside {
		max-width: 100px !important;
		text-align: center;

	}

	.modal-settings .modal-asside img {
		width: 50%;
		height: auto !important;
		margin: auto !important;
	}

	.modal-settings .settings-tab .nav-link {
		padding: 5px !important;
	}

	.modal-settings .modal-title h3 {
		font-size: 12px !important;
	}

	.modal-settings .modal-container {
		flex: 0 0 calc(100% - 100px) !important;
		max-width: calc(100% - 100px) !important;
	}

	.modal-settings .tab-content {
		padding: 12px !important;
	}

	.card-white.pink small {
		font-size: 12px !important;
	}

	.card-white.pink h4 {
		font-size: 15px !important;
	}

	.total-pendapatan p {
		font-size: 12px !important;
	}

	.total-pendapatan .select button {
		transform: translateX(-50px) !important;
		width: 100px !important;
		font-size: 12px !important;
	}

	#pendapatan-chart {
		height: 200px !important;
	}

	.total-pendapatan {
		height: 300px !important;
	}

	.card-proyek {
		margin-bottom: 20px !important;
	}

	.works .row {
		width: 100%;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.proyek-list_table_mobile .proyek-item .prjct-name h3 a,
	.proyek-list_table_mobile .proyek-item .detail-expand .btn-link {
		color: #f02784 !important;
	}

	.progress-bar-mini {
		display: none !important;
	}

	.status-card.overview-card-project {
		height: 100px !important;
	}

	.proyek__detail .status-card {
		padding: 15px 5px !important;
	}

	.proyek__detail .status-card .text label {
		font-size: 8px !important;
	}

	.proyek__detail .status-card .text span {
		font-size: 12px !important;
		line-height: 0px !important;
	}

	.proyek__detail>.row>.col-md-3 {
		max-width: 33% !important;
	}

	.terima-fixed {
		bottom: 4vh !important;
		left: 5vw !important;
		right: 5vw !important;
		width: 90vw !important;
		background-color: #fff;
		border: 1px solid #A8A8A8;
		border-radius: 8px;
		z-index: 1039;
	}

	.terima-fixed img,
	.terima-fixed .terima-sebelum {
		display: none;
	}

	.terima-fixed h4 {
		margin: 0px !important;
		text-align: left;
		font-size: 14px !important;
	}

	.terima-fixed .btn {
		font-size: 12px !important;
		padding: 4px 6px !important;
		margin-top: 5px;
	}

	.bill .paid,
	.penarikan-mobile .paid {
		color: #1cea6f !important;
	}

	.bill .not-paid,
	.penarikan-mobile .not-paid {
		color: #f2451e !important;
	}

	#pendapatan .proyek__detail>.row>.col-md-3 {
		max-width: 50% !important;
	}

	.modal-dialog {
		transform: none !important;
	}

	.modal-dialog label span {
		width: 75vw !important;
		word-wrap: break-word !important;
		line-height: 20px !important;
	}

	#tolakModal .round {
		padding-bottom: 15px !important;
	}

	.pendapatan__tab .nav-tabs,
	.work__tab .nav-tabs {
		width: calc(100% + 40px) !important;
		padding-right: 40px !important;
		-webkit-flex-wrap: nowrap !important;
		-ms-flex-wrap: nowrap !important;
		flex-wrap: nowrap !important;
		overflow-x: auto !important;
		overflow-y: hidden !important;
	}

	.pendapatan__tab .nav-tabs .nav-item,
	.work__tab .nav-tabs .nav-item {
		-webkit-flex: 0 0 auto !important;
		-ms-flex: 0 0 auto !important;
		flex: 0 0 auto !important;
	}

	.pendapatan-card-penarikan {
		display: none;
	}

	.saldo-mobile-hide {
		display: none;
	}

	.pendapatan .card-saldo {
		height: auto !important;
		background-image: none !important;
	}

	.pendapatan .card-saldo p {
		font-size: 11px !important;
	}

	.pendapatan .card-saldo h3 {
		font-size: 20px !important;
		margin-top: -5px !important;
		font-weight: 700;
		margin-bottom: 0px !important;
	}

	.pendapatan .card-saldo .card-body {
		padding: 12px !important;
	}

	.pendapatan .card-saldo .btn {
		font-size: 12px;
		padding: 4px !important;
		float: right;
	}

	.pendapatan .tab-content {
		padding: 0px !important;
	}

	.pendapatan .total-pendapatan {
		height: 250px !important;
	}

	.pendapatan .card-pendapatan {
		height: auto !important;
		margin-top: 20px !important;
	}

	.pendapatan .card-pendapatan .card-body {
		padding: 10px !important;
	}

	.pendapatan-img {
		width: 48px;
	}

	.pendapatan .card-pendapatan h4 {
		font-size: 16px !important;
		font-weight: 600;
	}

	.proyek__wrap-detail .timeline:after {
		background: transparent linear-gradient(0deg, #f6f6f7 0%, #f6f6f700 100%) 0% 0% no-repeat padding-box !important;
	}

	.aksen img {
		width: 150px !important;
	}

	.penarikan-mobile {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	.penarikan-mobile .proyek-list_table_mobile .proyek-item .icon {
		max-width: 20px !important;
		height: auto !important;
	}

	.tarik-mobile .tarik-hide {
		display: none !important;
	}

	.tarik-mobile .panel {
		padding: 0px !important;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	.tarik-mobile .tarik-dana {
		padding: 10px 0 !important;
	}

	.tarik-value-container {
		width: 90% !important;
	}

	.rekening-card {
		width: 100% !important;
	}

	.tarik-status {
		padding: 0px !important;
	}

	.tarik-status img {
		width: 90% !important;
	}

	.tarik-status h5 {
		font-size: 16px !important;
	}

	#btn-pilih,
	.btn-work-show {
		top: 80px;
		left: 0px !important;
		right: unset !important;
	}

	.work__tab .tab-content {
		padding-top: 72px;
	}

	.work-img {
		height: 100px;
	}

	.card-works-body {
		padding: 8px !important;
	}

	.badge-works {
		font-size: 8px !important;
	}

	.card-works-body h5 {
		font-size: 15px !important;
	}

	.card-works-foot {
		padding: 8px !important;
		margin-top: 20px !important;
	}

	.card-works-foot a {
		font-size: 11px !important;
	}

	.card-works .works-delete img {
		height: 12px !important;
		margin-top: 6px !important;
	}

	.avatars {
		padding: 10px !important;
	}

	.modal-settings .settings-tab .nav-link {
		font-size: 12px !important;
	}

	.sidebar {
		padding-top: 75px !important;
	}

	.sidebar_write {
		width: 100% !important;
	}

	.main-write {
		padding-left: 0px !important;
	}

	.uploaded_lists {
		height: auto !important;
		overflow: visible !important;
	}

	.work-star {
		margin-top: 10px !important;
	}

	.preview-row {
		width: 100% !important;
	}

	.preview-content * {
		font-size: 13px !important;
	}

	#preview-slide img {
		height: 200px !important;
	}

	#thumbnail-slide img {
		height: 50px !important;
	}

	.work-preview h5.mt-5 {
		margin-top: 20px !important;
	}

	.review-img {
		height: 75px !important;
		object-fit: cover;
		margin-bottom: 16px;
	}

	.review-card a {
		font-size: 14px !important;
	}

	.work-preview .pricelist-card {
		margin-bottom: 16px;
	}

	.preview-back {
		border: 2px solid #1CEA6F;
		padding: 5px 10px;
		border-radius: 5px;
	}

	.client-home .pink.card-faq {
		padding-top: 14px !important;
	}

	.client-home .card-white.blank-faq,
	.client-home .pink.card-faq {
		height: 250px !important;
	}


	.menu_mob .need-help {
		position: absolute;
		bottom: 30px;
		margin: auto;
		right: 0;
		left: 0;
	}

	.menu_mob .user-account {
		position: relative;
		bottom: 0;
		text-align: left;

	}

	.menu_mob .user-account__pp img {
		display: inline;
		width: 40px;
		height: 40px;
		object-fit: cover;
	}

	.menu_mob .user-account__name {
		display: inline;
		margin-left: 15px;
	}

	.sidemenu {
		padding-top: 0 !important;
	}


	.user-account.dd-show .dropdown-menu.user-acnt_menu {
		bottom: unset !important;
		left: 30px !important;
	}
}

@media (max-width: 767px) {
	.header .write-brief {
		position: fixed;
		bottom: 36px !important;
		right: 9px !important;
		background-color: transparent;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.header .write-brief:hover {
		background-color: #f5d9d4;
	}

	.header .write-brief .btn-brief {
		padding: 0;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;
		width: 48px;
		height: 48px !important;
		color: #f5d9d4;
		pointer-events: none !important;
	}


	.header .write-brief:hover .btn-brief {
		opacity: 1;
		font-size: 14px !important;
		width: auto !important;
		color: #f02784;
		padding: 12px 18px !important;
	}

	.header .write-brief .btn-brief:before {
		content: "+";
		width: 48px;
		height: 48px;
		transition-duration: 0.5s;
		transform-origin: center !important;
		margin-left: 0px !important;
	}

	.header .write-brief:hover .btn-brief:before {
		transform: translateX(-45px);
	}

	.header .write-brief .btn-brief:after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 8px;
		background: #f02784;
		background-image: url("../../icons/ic-plus-btn.png");
		background-position: center;
		background-size: 20px;
		background-repeat: no-repeat;
		position: absolute;
		top: 9px;
		left: 9px;
		opacity: 1;
		transition-duration: 0.5s;
	}

	.header .write-brief:hover .btn-brief:after {
		opacity: 1;
		transform: rotate(-315deg);
		left: -36px;
	}

	section.brief {
		margin-left: -32px !important;
		margin-right: -40px !important;
	}

	section.brief .section_title h3 {
		margin-left: 32px !important;
	}

	section.prjct-in-prgress {
		margin-left: -32px !important;
		margin-right: -40px !important;
	}

	section.prjct-in-prgress .section_title h3 {
		margin-left: 32px !important;
	}

	section.works {
		margin-left: -32px !important;
		margin-right: -40px !important;
	}

	section.works .section_title h3 {
		margin-left: 32px !important;
	}

	/* notif */
	/* notif */
	.header-notif__box_mob {
		overflow: hidden;
		margin-top: 30px;
	}

	.header-notif__box_mob h3 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 16px;
		font-weight: bold;
	}

	.header-notif__box_mob .n-wrapper {
		/* padding: 16px 20px; */
		max-height: 520px;
		overflow: hidden;
		overflow-y: auto;
	}

	.header-notif__box_mob .n-wrapper::-webkit-scrollbar {
		width: 3px;
		background-color: #F9F9F9;
		border-radius: 3px;
	}

	.header-notif__box_mob .n-wrapper::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
		background-color: #F5F5F5;
	}

	.header-notif__box_mob .n-wrapper::-webkit-scrollbar-thumb {
		background-color: #F23C13;
		border: 0;
		border-radius: 3px;
	}

	.header-notif__box_mob .pertime {
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		margin-bottom: 20px;
	}

	.header-notif__box_mob .pertime .t-notif {
		color: #000000;
	}

	.header-notif__box_mob .notif-item {
		padding: 10px 0;
		border-radius: 10px;
		border-bottom: 1px solid #e5e5e5;
		background: #fff;
		display: flex;
		margin-bottom: 10px;
		position: relative;
	}

	.header-notif__box_mob .notif-item:not(:last-child) {
		margin-bottom: 10px;
	}

	.header-notif__box_mob .notif-item .icon {
		width: 30px !important;
		height: 30px !important;
		margin-right: 16px;
		background: #F23C13;
		border-radius: 50%;
		flex: 0 0 30px;
		max-width: 30px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-notif__box_mob .notif-item .icon .ic {
		width: 100%;
		height: 100%;
		max-width: 20px;
		max-height: 20px;
		display: block;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.header-notif__box_mob .notif-item .box-text {
		margin-top: -5px;
		flex: 0 0 calc(100% - 60px);
		max-width: calc(100% - 60px);
	}

	.header-notif__box_mob .notif-item .box-text small {
		font-size: 10px;
		line-height: 14px;
		color: #4C9F70;
	}

	.header-notif__box_mob .notif-item .box-text h4,
	.header-notif__box_mob .notif-item .box-text p {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
		max-width: 100%;
	}

	.header-notif__box_mob .notif-item .box-text .nopo {
		margin-bottom: 12px;
		display: block;
		font-size: 10px;
		line-height: 14px;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.header-notif__box_mob .notif-item .box-text .btn-do {
		padding: 7px 22px;
		border-radius: 3px;
		background: #DF5055;
		font-size: 12px;
		line-height: 14px;
		color: #fff !important;
		display: inline-block;
		margin-bottom: 15px;
	}

	.header-notif__box_mob .notif-item .box-text .time {
		font-size: 12px;
		line-height: 16px;
		color: #A8A8A8;
	}

	.header-notif__box_mob .notif-item .tag {
		font-size: 8px;
		line-height: 12px;
		padding: 1px 7px;
		border-radius: 3px;
		color: #fff;
		position: absolute;
		top: 9px;
		right: 9px;
	}

	.header-notif__box_mob .notif-item .tag.new {
		background: #DF5055;
	}

	.header-notif__box_mob .notif-item.new .icon:after {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 1px solid #FFFFFF;
		background: #00E97F;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.header-notif__box_mob .clue {
		font-size: 10px;
		line-height: 14px;
		color: #000000;
		text-align: center;
		margin-bottom: 16px;
	}

	#modal-notif .modal-dialog {
		margin: 36px !important;
	}

	/* search */
	/* search */
	#modal-search .modal-body {
		padding: 0 !important;
	}

	#modal-search .modal-dialog {
		display: block !important;
		margin: 15px !important;
		margin-top: 90px !important;
	}

	#modal-search .form-search {
		position: relative;
		margin-bottom: 0 !important;
	}

	#modal-search .form-search .btn-primary {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 10px 14px !important;
	}

	#modal-search .form-search .btn-primary img {
		filter: invert(100%);
	}


	/* proyek */
	.proyek-item.expanded .subdet {
		display: none;
	}

	/* pagination */
	.pagination ul li a {
		padding: 5px 12px;

	}

}
